body {
    background-color: rgb(184, 245, 224);
}
#h1 {
    background-color: rgb(166, 250, 250);
}
#list {
    background-color: rgb(173, 243, 243);
}
#cards-head {
    background-color: rgb(142, 235, 204);
}
#cards {
    background-color: rgb(153, 245, 245);
}